In [85]:
import numpy as np
import pandas as pd

In [86]:
timelist=['6_20','6_21','6_22','7_1','7_2','8_1','8_2','9_1','9_2','10_1','10_2','11']

In [87]:
#六号
list_6=[]
for i in timelist[0:3]:
    file_path='final_uid\\user_'+i+'.csv'
    list_6.append(pd.read_csv(file_path))
df_6=pd.concat(list_6,axis=0,ignore_index=True)

In [88]:
#7号
list_7=[]
for i in timelist[3:5]:
    file_path='final_uid\\user_'+i+'.csv'
    list_7.append(pd.read_csv(file_path))
df_7=pd.concat(list_7,axis=0,ignore_index=True)

In [89]:
#8号
list_8=[]
for i in timelist[5:7]:
    file_path='final_uid\\user_'+i+'.csv'
    list_8.append(pd.read_csv(file_path))
df_8=pd.concat(list_8,axis=0,ignore_index=True)

In [90]:
#9号
list_9=[]
for i in timelist[7:9]:
    file_path='final_uid\\user_'+i+'.csv'
    list_9.append(pd.read_csv(file_path))
df_9=pd.concat(list_9,axis=0,ignore_index=True)

In [91]:
#10号
list_10=[]
for i in timelist[9:11]:
    file_path='final_uid\\user_'+i+'.csv'
    list_10.append(pd.read_csv(file_path))
df_10=pd.concat(list_10,axis=0,ignore_index=True)

In [92]:
#11号
file_path='final_uid\\user_'+'11'+'.csv'
df_11=pd.read_csv(file_path)

In [93]:
sample_list=[]
a=[df_6,df_7,df_8,df_9,df_10,df_11]
sample_num=[72,44,16,19,20,32]
for i in range(0,6):
    sample_list.append(a[i].sample(n=sample_num[i]))
res=pd.concat(sample_list,axis=0,ignore_index=True)

In [94]:
res.to_excel('转发者抽样203个.xlsx')

In [95]:
res

           user
0    2738780920
1    6372498354
2    3738521842
3    6468058580
4    5400428715
5    6438180175
6    2685668403
7    5976646996
8    3384874482
9    1998912275
10   6192951128
11   2563149210
12   6306097503
13   6614247454
14   1978080981
15   2875391021
16   6822843078
17   5496261636
18   6128648312
19   3967770312
20   3307006017
21   6050703557
22   5666919603
23   6312963269
24   1697510487
25   2449346190
26   5780001522
27   1949683595
28   5636762138
29   2293061151
..          ...
173  3722189674
174  2770286327
175  3226213064
176  2010536041
177  6836828989
178  6513632092
179  1512820930
180  2192171744
181  1020649894
182  6066387705
183  5312311161
184  6382490840
185  5315201692
186  5446221118
187  3800976683
188  1751953931
189  5594248839
190  6097939320
191  3032560225
192  3992674243
193  3608481952
194  5117319987
195  6834875443
196  3812351464
197  5627756672
198  5806950835
199  1851645732
200  6466525610
201  6836832812
202  5620673090

[203 rows x 1 columns]